<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>no</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-md-offset-2">
               <div>
                   <h1 class="text-center">抱歉，您没有访问权限！</h1>
                   <img src="/static/image/无权限.jpg" alt="" class="center-block" style="display:block;width:200px;height:200px">
               </div>
           </div>
       </div>
   </div>
</body>
</html>