<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <span class="error text-danger pull-right">{{ field.errors.0 }}</span>
            {% if field.is_pop %}
                <span class="pop_btn"><a href="javascript:void(0)" onclick="pop('{{ field.url }}', '{{ field.pop_back_id }}')">+</a></span>
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">提交</button>
</form>